html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

:root {
  --error-container-bg-light: #f8d7da;
  --error-container-bg-dark: #2a2a2a;
  --error-container-color-light: #721c24;
  --error-container-color-dark: #ddd;
  --error-link-bg-light: #d4edda;
  --error-link-bg-dark: #444;
  --error-link-hover-bg-light: #c3e6cb;
  --error-link-hover-bg-dark: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --error-container-bg: var(--error-container-bg-dark);
    --error-container-color: var(--error-container-color-dark);
    --error-link-bg: var(--error-link-bg-dark);
    --error-link-hover-bg: var(--error-link-hover-bg-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --error-container-bg: var(--error-container-bg-light);
    --error-container-color: var(--error-container-color-light);
    --error-link-bg: var(--error-link-bg-light);
    --error-link-hover-bg: var(--error-link-hover-bg-light);
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem var(--bs-light), 0 0 0 0.25rem var(--bs-primary);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.collapse {
  transition-duration: 2s;
  /* Change this to the duration you want */
}

.container-fluid,
.card {
  padding: 0 !important;
  /* Override any other padding */
  margin: 0 !important;
  /* Override any other margin */
}

.triangle {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.flipped {
  transform: scaleY(-1);
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bs-body-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--bs-primary);
  border-radius: 5px; /* Add this line */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-primary);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bs-primary) var(--bs-body-bg);
}

.navbar-toggler {
    width: 60px; /* Adjust this value as needed */
}

#color-mode-toggle-btn{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

.btn-sort {
  font-size: 0.875rem;
  padding: .25rem .5rem;
  margin-right: 0.25rem;
  margin-bottom: 0;
  color: var(--bs-primary);
  background-color: var(--bs-primary-bg);
  border-color: var(--bs-border-color);
  text-decoration: none; /* Remove underline */
}

.btn-sort:hover {
  transform: rotate(180deg);
  color: var(--bs-primary-text-emphasis);
}

.pagination-margin {
    margin-bottom: 5rem; /* Adjust this value as needed */
}

th {
  a {
    cursor: pointer;
  }
  white-space: nowrap;
}