html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.collapse {
  transition-duration: 2s;
  /* Change this to the duration you want */
}

.container-fluid,
.card {
  padding: 0 !important;
  /* Override any other padding */
  margin: 0 !important;
  /* Override any other margin */
}

.triangle {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.flipped {
  transform: scaleY(-1);
}
