@{
  var User = ViewBag.User as UserView;
}

@using OgrenciAidatSistemi.Configurations;
@{
  var stopwatch = new System.Diagnostics.Stopwatch();
}
<nav class="navbar navbar-expand-md navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="container-fluid">
  <a class="navbar-brand"  asp-controller="Home" asp-action="Index">@Constants.AppName</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
@{
  if (User != null)
  {
    <partial name="_NavbarUserPartial" model="User" />
  }
  else
  {
    <partial name="_NavbarGuestPartial" />
  }
}
</nav>

@{
  stopwatch.Stop();
  var render_time = stopwatch.ElapsedMilliseconds;
}
<script>
  console.log("NavbarVC render time: " + @render_time + " ms");
</script>
