@{
    ViewData["Title"] = "School Admin Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Aidat(Payment) System</h1>
    <p>Use the navigation bar to get started.</p>
    <h1 style="color: red;">TODO: IMPLEMENT THIS DASHBOARD</h1>
    
</div>