@model StudentView

@{
    ViewData["Title"] = "Home Page";
    var IsThereAnyUnpaidPayment =  (bool)ViewBag.IsThereAnyUnpaidPayment;
}

<div class="container mt-5">
    <h1 class="mb-4">Welcome, @Model.FirstName!</h1>

    <div class="row">
        @if (IsThereAnyUnpaidPayment)
        {
            <div class="alert alert-danger" role="alert">
                You have unpaid payments. Please pay your debts.
            </div>
        }
        <div class="col-lg-3 mb-4">
                <partial name="_GradesPartial" model="Model.Grades" />
        </div>

        <div class="col-lg-8 mb-4">
                <partial name="_PaymentHistoryPartial" model="Model.Payments" title="Payment History" />
        </div>

        <div class="col-lg-3 mb-4">
            @{
                ViewData["paymentPeriodTitle"] = "Current Payment Period";
            }
                <partial name="_PaymentPeriodDetailPartial" model="Model.CurrentPaymentPeriod"/>
        </div>

        <div class="col-lg-8 mb-4">
            @{
                ViewData["paymentListTitle"] = " (Non-Paid)";
            }

            <partial name="_PaymentListPartial" model="Model.UnPaidPayments" />
        </div>
    </div>
</div>
