@{
    Layout = "/Views/Shared/SiteAdmin/_adminLayout.cshtml";

    ViewData["Title"] = "SignIn";
}
@model OgrenciAidatSistemi.Models.SiteAdminView

<div class="text-right">

    @using (Html.BeginForm("SignInPost", "SiteAdmin", FormMethod.Post, new { @onsubmit = "return checkOnSubmit()" }))

    {
        <div id="message">
            @if (TempData["CantSignIn"] != null)

            {
                <div class="alert alert-danger" role="alert">
                    password or username is <b>wrong</b> !
                </div>
            }
        </div>
        <div class="form-group">
            <label class="control-label" for="username">Username</label>
            <input class="form-control text-box single-line" data-val="true" data-val-required="username" id="username"
                name="username" type="username" value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="username" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="Password">Password</label>
            <input class="form-control text-box single-line" data-val="true" data-val-required="password field is required"
                id="Password" name="Password" type="password" value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
        </div>
        <input type="button" href="@Url.Action("Index", "Home")" class="btn btn-default" id="cancelButton" value="Cancel" />
        <input type="submit" value="Sign In" class="btn btn-default" onsubmit="return checkOnSubmit()" />
    }
</div>
<script src="~/js/signInValidation.js"></script>
