@{
  Layout = "~/Views/Shared/_Layout.cshtml";

  if (ViewBag.Title == null)
    ViewBag.Title = "Error";
}

<div class="error-container">
  <h1 class="error-title">@ViewBag.Title</h1>
  <p class="error-message">@ViewBag.Message</p>
  <a href="/" class="error-link">Go back to Home</a>
</div>

<style>
  .error-container {
    text-align: center;
    padding: 50px;
    background-color: var(--error-container-bg);
    color: var(--error-container-color);
    border: 1px solid var(--bs-tertiary-color);
    border-radius: 4px;
    margin: 20px;
  }

  .error-link {
    color: var(--error-link-color);
    background-color: var(--error-link-bg);
    border-color: var(--bs-tertiary-color)
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
  }

  .error-link:hover {
    color: var(--bs-link-hover-color)
    background-color: var(--bs-link-hover-bg)
    border-color: #b1dfbb;
  }
</style>