<div class="btn-group dropstart">
  <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-display="static"
      data-bs-toggle="dropdown" aria-expanded="false">
    SignIn
  </button>
  <ul class="dropdown-menu dropdown-menu-start">
    <li>
      <a class="dropdown-item"  asp-controller="SiteAdmin" asp-action="SignIn" style="color: black;">SiteAdmin SignIn</a>
    </li>
    <li>
      <a class="dropdown-item"  asp-controller="SchoolAdmin" asp-action="SignIn">SchoolAdmin SignIn</a>
    </li>
    <li>
      <a class="dropdown-item"  asp-controller="Student" asp-action="SignIn">Student SignIn</a>
    </li>
  </ul>
</div>
