@Model SchoolView

<div class="card">
    <div> ID: @Model.Id    </div>
    <div> Name: @Model.Name </div>
    <div>
        Created At: @Model.CreatedAt
    </div>
    <div>
        Updated At: @Model.UpdatedAt
    </div>
</div>
